@page
@model ProiectMPD.Pages.User.Reviews.IndexModel

@{
    ViewData["Title"] = "My Reviews";
}

<h1><i class="bi bi-chat-right-text-fill"></i> My Reviews</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Name)
            </td>
            <td>
                    <div class="star-rating">
                        @for (int i = 0; i < 5; i++)
                        {
                            if(item.Rating>i)
                            {
                                <i class="bi bi-star-fill" data-rating="@i"></i>
                            } else
                            {
                                <i class="bi bi-star" data-rating="@i"></i>
                            }

                        }
                    </div>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

