@page
@model ProiectMPD.Pages.User.Releases.ReviewsModel

@{
    ViewData["Title"] = Model.Release.Name + " | " + "Reviews";
}

<h1>@Model.Release.Name - Reviews </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Review)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <div class="star-rating">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (item.Rating > i)
                            {
                                <i class="bi bi-star-fill" data-rating="@i"></i>
                            }
                            else
                            {
                                <i class="bi bi-star" data-rating="@i"></i>
                            }

                        }
                    </div>
                </td>
                <td>
                    <a asp-page="/User/Reviews/Details" asp-route-id="@item.ID">Read review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
